@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css");
@import url("https://discordstyles.github.io/AdjustableServerWidth/base.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/materialcons/base.css");
@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://raw.githack.com/LuckFire/NameBadges/main/source/badgesrc.css");
@import url("https://snappercord.github.io/Settings-Icons/settingsicons.css");
@import url("https://snappercord.github.io/codeblock-icons/dist-default.css");

/* ===== Configuration ===== */
@import "_variables.scss";
/* See _variables.scss! */

/* ===== Blurple Recolor Extras ===== */
.fa, .fas,
#powercord-spotify-menu .colorDefault-2K3EoJ .checkbox-3s5GYZ {color: rgb(var(--accentcolor)) !important;}
.spotify-seek-bar-progress, .barFill-23-gu- {background-color: rgb(var(--accentcolor)) !important;}
.powercord-toast button:not(.colorGreen-29iAKY):not(.colorGrey-2DXtkV), .circleIcon-LvPL6c, #powercord-spotify-menu #powercord-spotify-menu-repeat + div[id*=-active] {
	color: rgb(var(--accentcolor)) !important;
}
.circleIconButton-jET_ig.selected-ugP_am {
	background-color: rgb(var(--accentcolor)) !important;
	.circleIcon-LvPL6c {color: #fff !important;}
}
.topSectionSpotify-1lI0-P, .headerSpotify-zpWxgT {background-color: #0f612c !important;}
.topSectionPlaying-1J5E4n, .headerPlaying-j0WQBV {background-color: #d18800 !important;}

/* ===== usrbg ===== */
.reduce-motion .userPopout-3XzG_A {
	transform: translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A {
	.header-2BwW8b, .scroller-2FKFPG, .footer-1fjuF6 {
		z-index: 1;
	}
}
:root {
	--usrbg-modal-x-offset: -34px; /* Distance from the avatar container to the edge of the modal (x) */
	--usrbg-modal-y-offset: -20px; /* Distance from the avatar container to the edge of the modal (y) */
	--usrbg-modal-width: 800px; /* Maximum width of modal */
	--usrbg-modal-height: 600px; /* Maximum height of modal */
}
.header-QKLPzZ .wrapper-3t9DeA::after {
	content: '';
	position: absolute;
	top: var(--usrbg-modal-x-offset);
	left: var(--usrbg-modal-y-offset);
	width: var(--usrbg-modal-width);
	height: var(--usrbg-modal-height);
	opacity: .5;
	pointer-events: none;
	background: var(--user-background) center/cover no-repeat;
	-webkit-mask: linear-gradient(black, transparent 80%);
}
.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
	z-index:1;
	position:relative;
}

.root-SR8cQa {
	width: var(--usrbg-modal-width);
	height: var(--usrbg-modal-height);
	.body-3ND3kc {
		height: auto;
		overflow: auto;
	}
}

/* ===== Hiding Elements ===== */
.channelTextAreaDisabled-8rmlrp > div,
.powercord-badge, /* Powercord Server Badge */
.status-1fhblQ, .description-2L932D, .separator-2I32lJ, /* for minimal status menu */
.scrollerSpacer-avRLaA, /* remove large margin at bottom of chat area */
.scroller-2TZvBN > [aria-label="Servers"] + .tutorialContainer-SGrQ1h + .listItem-2P_4kh, /* remove discover servers button*/
.emptyChannelIcon-cc932w,
[aria-label="Send a gift"] {
	display: none;
}
.chat-3bRxxu .title-3qD0b- .children-19S4PO {
	.iconWrapper-2OrFZ1, .title-29uC1r, .divider-3FBTu8 {display: none;} /* remove channel title */
}

/* ===== Custom Discord Wordmark ===== */
.wordmark-2iDDfm::after {
	content: var(--wordmark);
	/*color: white !important;*/
	font-size: 14px;
	font-weight: 700;
	position: absolute;
	top: 3px;
	padding-left: -3px;
	font-family: "Discord";
	width: max-content;
}
.wordmark-2iDDfm > svg {width: 0px;}

/* ===== Square Embeds/Attachments ===== */
.imageWrapper-2p5ogY, .embed-IeVjo6, .notice-2FJMB4 {border-radius: 0;}
.embedImage-2W1cML, .embedThumbnail-2Y84-K, .embedVideo-3nf0O9 {
	img, video {border-radius: 0;}
}

/* ===== Square Server Icons ===== */
.blobContainer-239gwq svg > foreignObject {mask: none;}

.spotify-tooltip {max-width: 260px !important;}
.note-3HfJZ5, .note-QfFU8y {
	& > textarea {padding: 10px;}
}
.layer-v9HyYc, .popout-2iWAc- {
    position: fixed !important;
}
.typing-2GQL18 {right: unset;}
.cooldownWrapper-3joyFc {margin-left: initial !important;}
.wrapper-39oAo3 {position: static;}
.popoutContainer-1MXdqN {width: 20em;}
.wrapper-3t9DeA .pointerEvents-2zdfdO[x="1"] {
	x: 0 !important;
	y: 0 !important;
}
#app-mount .privateChannels-1nO12o .wrapper-3t9DeA .pointerEvents-2zdfdO[width="25"] {
	width: 32px !important;
	height: 32px !important;
	x: 0 !important;
	y: 0 !important;
}
#app-mount .guildIconImage-3qTk45[aria-hidden="false"] {
	margin-right: 1em !important;
	foreignObject {
		&, img {
			left: -2px;
			top: -2px;
			position: relative;
		}
		img {width:84px;height:84px;}
		border-radius: 35%;
	}
}
.titleBar-AC4pGV > *:nth-child(3):hover {background-color: #eab618;}
.titleBar-AC4pGV > *:nth-child(4):hover {background-color: #48c048;}
h2 ~ .powercord-text > div:first-child > .container-3auIfb {margin-left: auto}
.sidebarRegion-VFTUkN {max-width: 240px;}
.contentColumn-2hrIYH, .customColumn-Rb6toI .customScroller-26gWhv {
	max-width: unset;
	& > div {
		margin-left: auto;
		margin-right: auto;
		max-width: 740px;
	}
}
.customColumn-Rb6toI + .toolsContainer-1edPuj {
	position: absolute;
	right: 0;
}
.layer-3QrUeG[aria-label$="_SETTINGS"] .standardSidebarView-3F1I7i {top: 0;}
.reddit-tooltip {font-weight: bold}
blockquote{height: fit-content}
.container-Qj4uIL {z-index: 2}
.headerText-3Uvj1Y + span[style="color: var(--text-muted); font-size: 0.9rem;"] {
  margin-right: 5px
}
.tutorialContainer-1v44GL + div > .dm-typing-indicator {
  width: 100%;
  margin-bottom: 8px;
  h1, .spinner-2enMB9 {
    width: fit-content;
    display: inline-block
  }
}
.onlineFriends-counter { padding-top: 8px; margin-bottom: -8px; }
.tutorialContainer-1v44GL > .listItem-2P_4kh { margin-bottom: calc(var(--server-icon-spacing) - 1px) }

/* ===== Show All Activities on Hover ===== */
.userPopout-3XzG_A .activityUserPopout-2yItg2 {
	.allactivities-left, .allactivities-right {
		margin-right: 0;
		margin-left: 0;
		max-width: 0;
		opacity: 0;
		pointer-events: none;
		transition: all 0.175s ease-in-out;
	}
	&:hover {
		.allactivities-left, .allactivities-right {
			max-width: 32px;
			opacity: 1;
			pointer-events: all;
		}
		.allactivities-left {margin-right: 8px;}
		.allactivities-right {margin-left: 8px;}
	}
}

/* ===== White Connection Icons ===== */
.connectedAccountIcon-3P3V6F {
	&[alt*="Battle.net"] {content: url("/assets/3a257c4cab129e956b05bd50047eb0f9.png");}
	&[alt*="Facebook"] {content: url("/assets/c926e69c482dac25b8e940db74496813.png");}
	&[alt*="GitHub"] {content: url("/assets/9e2893717851c493b4bff518f8b63ee7.png");}
	&[alt*="League of Legends"] {content: url("/assets/fbbd224a0d94747c102515090682bbe1.png");}
	&[alt*="Reddit"] {content: url("/assets/bcc7bc0c0b27f9cbadaa1a47ea79db22.png");}
	&[alt*="Spotify"] {content: url("/assets/fe3770614c2658a07dea3ecb286ce745.png");}
	&[alt*="Skype"] {content: url("/assets/de5fb9e860729912c65048c1c657e1a3.png");}
	&[alt*="Steam"] {content: url("/assets/baf4bdd36b7ef74e8f34b402e66f81f4.png");}
	&[alt*="Twitch"] {content: url("/assets/4c1bab3f945269a5c1be0b3a2c177141.png");}
	&[alt*="Twitter"] {content: url("/assets/2ac50d286a1c883f28b5149239a8ad36.png");}
	&[alt*="YouTube"] {content: url("/assets/0ef81742942677bcef0bebdfb7061d29.png");}
	&[alt*="Xbox Live"] {content: url("/assets/850ed4fcf5839b7a32651f5959e8511e.png");}
}

/* ===== Search bar width ===== */
.searchBar-3dMhjb {width: calc(144px * 1.75);}
.focused-31_ccS, .open-6_Y_aH {.searchBar-3dMhjb {width: calc(144px * 2.25);}}

/* ===== Info Section for Theme ===== */
div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
	content: var(--theme-version-text);
	display: block;
	text-transform: none;
}

/* ===== Borders ===== */
.panels-j1Uci_ .container-3baos1,
.channelTextArea-rNsIhG:not(.channelTextAreaDisabled-8rmlrp),
.layers-3iHuyZ, .scroller-2TZvBN > .listItem-2P_4kh > .onlineFriends-counter,
.panels-j1Uci_ > .wrapper-24pKcD > .container-1giJp5 {
	border-top: 1px solid var(--border-colour);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.header-2o-2hj, .title-3qD0b-, .container-1r6BKw,
#emoji-picker-tab-panel .header-8ilj5e, .topSectionNormal-2-vo2m .header-QKLPzZ,
.guildCategorySeparator-_An-MP, .group-spacing-0 .divider-3_HH5L,
.hasBanner-2SrLR3 > .animatedContainer-1NSq4T {border-bottom: 1px solid var(--border-colour);}
.group-spacing-0 .divider-3_HH5L:not(#---new-messages-bar) {border-radius: 50%;}
.privateChannels-1nO12o .searchBar-6Kv8R2,
.sidebar-2K8pFh > nav > div:first-child:not(.hasBanner-2SrLR3) {
	border-bottom: 1px solid var(--border-colour);
	margin-top: -1px;
}
.base-3dtUhz .sidebar-2K8pFh {
	border-radius: 0 !important;
	border-left: 1px solid var(--border-colour);
	border-right: 1px solid var(--border-colour);
}
.hasBanner-14PPlG .header-2o-2hj {border: none;}
.layer-3QrUeG[aria-label$="_SETTINGS"] {
	border: 1px solid var(--border-colour);
	border-radius: 5px;
	.sidebarRegion-VFTUkN {border-right: 1px solid var(--border-colour);}
	& > .standardSidebarView-3F1I7i {top: 0;}
}
.nowPlayingColumn-2sl4cE, .members-1998pB, .searchResultsWrap-3-pOjs {border-left: 1px solid var(--border-colour);}
.divider-3573oO, .side-8zPYf6 .separator-gCa7yv, .activityPanel-28dQGo,
.messagesPopout-24nkyi > div.messageGroupWrapper-o-Zw7G:not(:first-of-type):not(:last-of-type),
#emoji-picker-tab-panel .inspector-S2gM3e {border-top: 1px solid var(--border-colour);}
.contentWrapper-SvZHNd, .root-SR8cQa, .select-1Pkeg4, .popout-2sKjHu,
.cardPrimaryOutline-29Ujqw, .messagesPopoutWrap-1MQ1bW, .input-cIJ7To,
.recentMentionsPopout-3rCiI6, .attachPopout-36hjtN,
div:not(.contentWrapper-SvZHNd) > #emoji-picker-tab-panel,
.actionButtons-14eAc_ > button, .background-1QDuV2, .tooltip-2QfLtc,
.connectionList-3pzR-1 > .connection-1fbD7X, #a11y-hack .rq-inline {
	border: 1px solid var(--border-colour) !important;
	border-radius: 5px !important
}
.tooltipPointer-3ZfirK {border-top-color: var(--border-colour) !important;}
.background-1QDuV2 > .fieldList-21DyL8 {border-top: 1px solid var(--border-colour);border-radius: 0px;}
#emoji-picker-tab-panel .categoryList-2Kzf65 {border-right: 1px solid var(--border-colour);}
.embed-IeVjo6 {
	border-left: 4px solid var(--border-colour);
	border-top: 1px solid var(--border-colour);
	border-right: 1px solid var(--border-colour);
	border-bottom: 1px solid var(--border-colour);
}
.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6, .notice-1tZwqv,
#pinned-messages .avatar-1BDn8e, .notice-3bPHh- {border-radius: 0;}
.repliedMessage-VokQwo:before {border-color: var(--border-colour);}

.wrapper-1Rf91z[aria-label="Servers sidebar"] > .scroller-2TZvBN {margin-top: 4px;}

/* ===== non-green-update-button ===== */
svg > .updateIconForeground-3tnNZn {fill: var(--interactive-normal);}
svg:hover > .updateIconForeground-3tnNZn {fill: var(--interactive-hover);}
svg:active > .updateIconForeground-3tnNZn {fill: var(--interactive-active);}

/* 
Zere's Old Settings Module 
-css snippet by Zerebos 
*/
.layers-3iHuyZ {
    align-items: center;
    justify-content: center;
	& > .layer-3QrUeG {
		&:first-child {
			opacity: 1 !important;
			transform: none !important;
		}
		&.stop-animations:first-child {z-index: 1;}
		&:nth-child(2) {
			width: var(--width2);
			height: var(--height2);
			top: unset;bottom: unset;
			right: unset;left: unset;
			display: block;
			overflow: visible;
			transform: translateZ(0);
			z-index: 3;
			&::before {
				content: "";
				position: absolute;
				top: calc((100% - var(--height2)) / -1); 
				left: calc((100% - var(--width2)) / -1);
				padding: calc(100% - var(--height2)) calc(100% - var(--width2));
				background: black;
				z-index: 2;
				opacity: 0.6;
				width: 100%;
				height: 100%;
			}
		}
	}
}

/* ===== Blurs user profile notes ===== */
.note-QfFU8y, .note-3HfJZ5 {
	textarea {
		filter: blur(5px);
		transition: .2s cubic-bezier(.2, .11, 0, 1);

		&:focus, &:hover {
			filter: none;
			transition: .2s cubic-bezier(.2, .11, 0, 1);
		}
	}
}

/* ===== Square spoilers ===== */
.spoilerText-3p6IlD {border-radius: 0;}

:root {
    --background-primary: var(--main-bg) !important;
    --background-secondary: var(--main-bg) !important;
    --background-secondary-alt: var(--main-bg) !important;
    --background-tertiary: var(--main-bg) !important;
    --background-accent: var(--main-bg) !important;
    --background-floating: var(--main-bg) !important;
    --background-modifier-hover: #090909 !important;
    --background-modifier-active: var(--main-bg) !important;
    --background-modifier-selected: #0f0f0f !important;
    --background-modifier-accent: var(--main-bg) !important;
    --channeltextarea-background: var(--main-bg) !important;
}
.modal-yWgWj-, .cardPrimary-1Hv-to,
.discordTweaksSettings .tweaks .tweakCard,
.root-1gCeng, .container-3ayLPN, .message-2qRu38 {
    background-color: var(--main-bg) !important;
    border-color: var(--border-colour) !important;
}
.perksModal-fSYqOq, .container-1D34oG, .scroller-3gAZLs, .autocompleteInner-zh20B_ {background-color: var(--main-bg) !important;}
.itemCard-v9viV7 section, .selected-1Tbx07 {background-color: var(--background-modifier-selected) !important;}
.option-96V44q::after {background: none !important;}
.discordTweaksSettings .tweaks .tweakCard {border-width: 1px;border-style: solid;}
.userPopout-3XzG_A {
	border-color: var(--border-colour);
	.body-3iLsc4, .footer-1fjuF6 {background-color: var(--main-bg) !important;}
}

/**
 * Snippet from #css-snippets applied the Aug 7, 2020 at 5:06:48 PM
 * Created by rob#0005 (194474365646012416)
 * Snippet ID: 733742794979409933
 */
.backdrop-1wrmKB {
    background: none !important;
    backdrop-filter: blur(10px) brightness(0.5);
    opacity: 1 !important;
}

/**
 * Snippet from #css-snippets applied the Aug 17, 2020 at 1:12:17 AM
 * Created by taciturasa#4365 (97788939196182528)
 * Snippet ID: 731247197957390496
 */
/* Two Line Description */
.topic-TCb_qw {
	white-space: initial;
	line-height: 18px;
	max-height:36px;
}

/**
 * Snippet from #css-snippets applied the Sep 1, 2020 at 11:25:10 AM
 * Created by hellbound#9999 (426147523305144322)
 * Snippet ID: 749450242700738572
 */
:root {
	--hover-animation-speed: 0.35s;
	--seperator-color: var(--border-colour);
}
div:not(.total-members-preview) > div > .membersWrap-2h-GB4 {
	min-width: unset;
	width: 50px;
	justify-content: right;
	.members-1998pB {
		transition: transform var(--hover-animation-speed);
		.total-members {
			display: none;
			& + div {margin-top: 0;}
		}
		.member-3-YXUe {
			background-color: unset;
			margin-left: 0px;
			transition: margin-left var(--hover-animation-speed);
		}
	}
	.membersGroup-v9BXpm {
		cursor: default;
		transform: translateX(45px);
		transition: transform var(--hover-animation-speed);
		overflow: visible;
		&::after {
			content: '';
			width: 30px;
			height: 2px;
			border-radius: 50px;
			background: unset;
			background-color: var(--seperator-color);
			position: absolute;
			left: -36px;
			top: 29px;
			margin-left: 0px;
		}
	}
	&:hover {
		.members-1998pB {
			transform: translateX(-190px);
			.total-members {
				display: flex;
				& + div {margin-top: -16px;}
			}
			.member-3-YXUe {margin-left: 8px;}
		}
		.membersGroup-v9BXpm {transform: translateX(-6px);}
	}
}

/**
 * Snippet from #css-snippets applied the Sep 3, 2020 at 5:56:12 PM
 * Created by rob#0005 (194474365646012416)
 * Snippet ID: 743951541307703336
 */
.panels-j1Uci_ {
    margin-left: -105px;
    width: 345px;
    z-index: 100;
}
.sidebar-2K8pFh, .base-3dtUhz {overflow: visible !important}
.wrapper-1Rf91z .scroller-2TZvBN {padding-bottom: 500px}
.scroller-2TZvBN > .listItem-2P_4kh, .onlineFriends-counter {width: 100% !important}
.scroller-2TZvBN > .tutorialContainer-1v44GL {
	& + .listItem-2P_4kh, & + div:not(.list-Item-2P_4kh) + .listItem-2P_4kh {
		& ~ div[style*="transform: scale(1);"] {
			display: inline-block;
			&:nth-of-type(3), &:nth-of-type(4) {padding-top: 4px}
			& + .listItem-2P_4kh {border-top: 1px solid var(--border-colour)}
		}
	}
	& + .listItem-2P_4kh ~ div[style*="transform: scale(1);"]:nth-of-type(even) .pill-1m5BUr,
	& + div:not(.listItem-2P_4kh) + .listItem-2P_4kh ~ div[style*="transform: scale(1);"]:nth-of-type(odd) .pill-1m5BUr {
		top: 4px;
		left: unset;
		right: 0;
		transform: rotate(180deg)
	}
}
.guildSeparator-3s64Iy {width: calc(100% - 20px)}
#app-mount > .app-1q1i1E .members-1998pB .wrapper-3t9DeA .mask-1l8v16 > rect {
   x: 0 !important;
   y: 0 !important;
   width: 32px !important;
   height: 32px !important;
}

.mask-1qbNWk.icon-1IxfJ2 {
    --status-icon-size: 75%;
    height: var(--status-icon-size); 
    width: var(--status-icon-size);
    margin-left: 33%;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    visibility: visible;
}
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
    grid-column: 1/5;
}
.customText-tY5LJn {
    font-size: 15px;
}

/* Scroll bar for roles */
.rolesList-22qj2L {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 175px;
    &::-webkit-scrollbar {
        width: 5px;
        height: 14px;
    }
    &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        border-width: 3px;
        border-style: solid;
        border-radius: 7px;
        border-color: #202225;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: #2f3136;
        border: 3px solid #36393f;
        border-radius: 7px;
    }
}

.powercord-spotify > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {display:none;}
.powercord-spotify.hover > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {display:initial !important;}

.messagesWrapper-1sRNjr {margin-bottom: 0px;}
.scrollerInner-2YIMLh {padding-bottom: 30px;}
.container-1D34oG {background-color: unset;}
.channelTextArea-rNsIhG {
	margin-bottom: 0px;
	& > .scrollableContainer-2NUZem {
		margin-top: 4.5px;
		margin-bottom:4.5px;
	}
}
.chatContent-a9vAAp .form-2fGMdU {padding-left: 0px;padding-right: 0px;}
.typing-2GQL18 {bottom: 55px;}
.messagesWrapper-3lZDfY {padding-bottom: 10px;}
.message-2qnXI6 {padding-left: 78px !important;}
.timestamp-3ZCmNB.latin24CompactTimeStamp-2V7XIQ {width: unset;}
.hovered-d5PMVU {
	opacity: 1;
	transform: none;
	position: initial;
	white-space: normal;
	& ~ .default-3sgIpy {display: none;}
}
.menu-3sdvDG {border: 1px solid var(--border-colour);}
div:not(#status-picker) > .scroller-3BxosC > div:not(:first-of-type):not(:last-of-type):not([role="seperator"]):not([id*="message-add-reaction"]) {border-top: 1px solid var(--border-colour);}
.spotify-cover {border-radius: 0px !important;}

.spinner-2enMB9.typingindicator-guild {
	background: #202225;
	box-shadow: none;
	width: 27px;
}
.markup-2BOw-j, .placeholder-37qJjk {
	font-family: var(--chat-font);
	font-size: var(--chat-font-size) !important;
}
#status-picker .status-1fhblQ, .h3-3PDeKG, .title-31JmR4 {
	font-weight: bold;
}
body, button, .name-3YKhmS, .name-uJV0GL, .name-3_Dsmg, .username-1A8OIy, /* Holy fuck why. */
.title-3qD0b-, .membersGroup-v9BXpm, .username-3gJmXY, .title-31JmR4,
.text-2e2ZyG, .activityText-yGKsKm, .username-2b1r56, .title-3sZWYQ,
.item-2hkk8m, .item-PXvHYJ, .item-1tOPte, .botText-1526X_,
div[class*="reactionCount-"], .discriminator-xUhQkU, div[class*="resultsGroup"],
.ui-tab-bar-header, .ui-tab-bar-item, .textRow-19NEd_, .powercord-product,
.ui-form-title, div[class*="header-"], .emptyText-6tYmO5,
div[class*="contents-"], div[class*="description-"], .bodyTitle-Y0qMQz,
div[class*="viewBody-"], div[class*="keybind-"], .input-cIJ7To,
div[class*="info-"], div[class*="subtext-"], .anchor-3Z-8Bb,
div[class*="tooltip-"], .wrapper-1Rf91z, .userInfoSectionHeader-CBvMDh,
.base-3dtUhz, div[class*="channelName-"], .textarea-2r0oV8,
div[class*="children-"], div[class*="input-"], .input-2VB9rf,
div[class*="default-"], div[class*="change-"], .base-1x0h_U, .name-1jkAdW,
div[class*="userText-"], div[class*="checkbox-"], .h3-3PDeKG,
.btn, div[class*="flexChild-"], .listName-3w10cx, .attachPopoutRowText-2R5RC2,
div[class*="descriptionBox-"], div[class*="maxLength-"], .name-23GUGE,
div[class*="roleName-"], div[class*="role-"], .searchBarComponent-32dTOx,
div[class*="searchBarComponent-"], .div[class*="version-"], .div[class*="author-"],
.div[class*="description-"], .div[class*="link-"],
div[class*="protip-"], div[class*="connectedAccountName-"],
.multiInputLast-1aQ3YA input {
	font-family: var(--everything-font);
	font-size: var(--everything-font-size) !important;
}
.membersGroup-v9BXpm, .text-2e2ZyG, .textRow-19NEd_, div[class*="resultsGroup"],
.activityText-yGKsKm, div[class*="label-"], .userInfoSectionHeader-CBvMDh,
.botText-1526X_, div[class*="reactionCount-"], .attachPopoutRowText-2R5RC2,
div[class*="subtext-"], div[class*="tooltip-"], .bodyTitle-Y0qMQz, .title-3sZWYQ,
div[class*="roleName-"], div[class*="role-"], .typing-2GQL18,
div[class*="searchBarComponent-"], div[class*="link-"],
div[class*="connectedAccountName-"], button {
	font-size: 9pt !important;
}
.input-2VB9rf {font-size: 18pt !important;}
.channelTextArea-rNsIhG, .channelTextArea-2VhZ6z {
	& > .webkit-HjD9Er {
		border-radius: 0;
	}
}
.username-1A8OIy, .roleColor-rz2vM0 {
	text-shadow: 2px 2px #111;
}
.wrapper-1Rf91z[aria-label="Servers sidebar"] {
	width: 104px;
	.scroller-2TZvBN > .tutorialContainer-SGrQ1h {
		position: absolute;
		right: 0px;
		top: 7px;
	    .pill-3YxEhL {
	    	right: 0px;
		    left: unset;
		    transform: rotate(180deg);
	    	top: 16px;
    	}
	}
}
.scroller-2TZvBN {
	padding-top: 8px !important;
	.tutorialContainer-1v44GL {bottom: 1px;}
}
.base-3dtUhz:not(.title-3qD0b-):not([class*="input-"]) {
	left: 104px;
}
[aria-label="Servers"] {
	display: flex;
	flex-wrap: wrap;
	& > .listItem-2P_4kh:nth-child(even) > .pill-31IEus {
		right: 0;
		left: unset;
		top: 4px !important;
		transform: rotate(180deg);
	}
}

/**
 * Snippet from #css-snippets applied the Sep 3, 2020 at 6:25:57 PM
 * Created by DracoClaw#0065 (341680387979870219)
 * Snippet ID: 747829832787820666
 */
/*Hide Scrollbar Tracks*/
.scrollerBase-289Jih::-webkit-scrollbar-track {
    background-color: transparent;
}

/**
 * Snippet from #css-snippets applied the Sep 3, 2020 at 6:26:51 PM
 * Created by botato#6883 (440990343899643943)
 * Snippet ID: 744728814642397205
 */
.searchResultMessage-1fxgXh.hit-1fVM9e > div > .contents-2mQqc9 img,
div[id^=pinned-messages-] .contents-2mQqc9 img {
  top: 15px
}

/**
 * Snippet from #css-snippets applied the Sep 8, 2020 at 8:24:52 AM
 * Created by Skullbite#5245 (158750488563679232)
 * Snippet ID: 752727634076631072
 */
.colorDefault-2K3EoJ[id="user-context-invite-to-server"] {
    display: none;
}

.colorDefault-2K3EoJ[id="user-context-call"] {
    display: none;
}

/**
 * Snippet from #css-snippets applied the Sep 10, 2020 at 8:05:51 AM
 * Created by NinjaCatMander#0760 (437491079869104138)
 * Snippet ID: 753569397058306109
 */
:root {
    --background-secondary: #050505 !important; /*Change this accordingly*/
}
.inspector-3LQtX9, .header-ywPcAE {
    background: var(--background-secondary) !important;
}
/* remove emoji tooltip */
.tooltip-2QfLtc .clickCTA-kIMiUd {
  display: none;
}

/**
 * Snippet from #css-snippets applied the Sep 14, 2020 at 3:40:06 PM
 * Created by botato#6883 (440990343899643943)
 * Snippet ID: 755165969965646005
 */
.theme-dark .regionSelectModal-12e-57 {
  background: var(--background-primary) !important;
}
.theme-dark .regionSelectModalOption-2DSIZ3 {
  background: var(--background-secondary) !important;
  border-color: var(--background-secondary-alt) !important;
}
.theme-dark .regionSelectModalOption-2DSIZ3:hover {
  border-color: var(--background-tertiary) !important;
}
/** 755165969965646005 */

/**
 * Snippet from #css-snippets applied the Sep 28, 2020 at 10:53:43 AM
 * Created by Leeprky#1234 (224524143482241035)
 * Snippet ID: 760166472387133512
 */
.total-members-count-box {
  position: static !important;
}
/** 760166472387133512 */

/**
 * Snippet from #css-snippets applied the Sep 28, 2020 at 11:05:21 AM
 * Created by MulverineX#0001 (178551656714076161)
 * Snippet ID: 755225689594265722
 */
.total-members-count-box {
    justify-content: left !important;
  padding-top: 24px !important;
}
.total-members-count-box > div:first-child {
    margin-bottom: 6px !important;
}
.total-members-count {
    justify-content: left !important;
}
.total-members-count > span {
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 600 !important;
    text-transform: uppercase;  

  color: var(--channels-default) !important;

}
.total-members-count > i {
  display: none;
}
/** 755225689594265722 */

/**
 * Snippet from #css-snippets applied the Oct 6, 2020 at 5:34:06 PM
 * Created by Tropical#4355 (254362351170617345)
 * Snippet ID: 763158982105104404
 */
.connectedAccount-36nQx7 {
    display:flex;
    flex-wrap:wrap;
    height:auto;
}

.connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F {
    width:24px;
    height:24px;
}
.connectedAccount-36nQx7 .anchor-3Z-8Bb {
    width:100%;
    display:block;
    position:relative;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:normal;
}
.connectedAccount-36nQx7 .anchor-3Z-8Bb svg {
    display:none;
}

.connectedAccount-36nQx7 .anchor-3Z-8Bb:after {
    content:attr(href);
    width:100%;
    white-space:nowrap;
}
/** 763158982105104404 */

/**
 * Snippet from #css-snippets applied the Oct 14, 2020 at 11:59:52 AM
 * Created by MulverineX#0001 (178551656714076161)
 * Snippet ID: 762067626942791680
 */
.item-PXvHYJ[data-item-id=pc-updater] {
	height: 4.65rem;
	align-items: unset !important;
}

.item-PXvHYJ[data-item-id=pc-updater]:hover {
	background: linear-gradient(180deg,
		var(--background-modifier-hover) 0%, var(--background-modifier-hover) 43%,
		var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
	background: linear-gradient(180deg, 
		var(--background-modifier-selected) 0%, var(--background-modifier-selected) 43%,
		var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
	position: absolute;
	margin-top: 2.19rem;
	border-top: 1px solid var(--background-modifier-accent);
	line-height: 2.6rem;    
	width: 89.5%;
	content: "Plugin Settings";
	color: rgb(159, 159, 159);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	cursor: initial;
}
/** 762067626942791680 */

/**
 * Snippet from #css-snippets applied the Oct 17, 2020 at 2:43:05 PM
 * Created by Bowser65#0001 (94762492923748352)
 * Snippet ID: 767078348731056158
 */
/* Show Discord, even when you're offline */
.container-16j22k {
  background: transparent;
  pointer-events: none;
}
.container-16j22k * {
  display: none;
}
.container-16j22k::before {
  content: 'You\'ve gone offline';
  display: block;
  bottom: 24px;
  right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
}
/** 767078348731056158 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 3:24:29 PM
 * Created by Bowser65#0001 (94762492923748352)
 * Snippet ID: 767830676153565206
 */
/* Light theme away */
html.theme-dark .theme-light {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --focus-primary: #00b0f4;
}

html.theme-dark .theme-light .root-1gCeng {
  background-color: #36393f;
  -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}

html.theme-dark .theme-light .footer-2gL1pp {
  background-color: #2f3136;
  -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
  box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
  color: var(--text-normal);
}
/** 767830676153565206 */
